* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

main {
    margin: 0 auto;
    margin: 10% 5% 0% 5%;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    length: 90%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.322) ;
    border-radius: 20px;
    background-color: white;
    
}
section {
    padding: 2% 8% 0% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    color: rgb(4, 4, 99);
}
section h1 {
    font-weight: 700;
}
section h3 {
    color: grey;
    font-size: 75%;
    flex-grow: 1;
}
section form {
    flex-grow: 2;
}
